/****************
all common styles
*****************/
body {
  font-family: "Poppins", sans-serif;
}
p {
  font-weight: 700;
  padding-left: 10px;
  padding-right: 20px;
}

/****************
    custom CSS
*****************/
.details {
  font-weight: 300;
}
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main-left img {
  width: 70%;
}
.calculation {
  display: flex;
}
.hr {
  border-bottom: 3px solid black;
}
.promo-code-input {
  display: flex;
}
.price {
  display: flex;
  justify-content: space-between;
}
.price p {
  line-height: 8px;
}
